.navigation-bar{
    display:flex;
    gap:20px;
    align-items:center;
    position:absolute;
    left:calc(50% - calc(215px / 2));
}

.navigation-bar__link{
    text-decoration: none;
    color: #FFF;
    text-align: right;
    font-family: 'Inter', 'Arial', serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    opacity: 1;
    transition: opacity linear 0.1s
}

.navigation-bar__link_underlined{
    border-bottom: 1px solid #FFF;
}

.navigation-bar__link:hover{
    opacity: 0.7;
}

@media screen and (max-width:768px){
    .navigation-bar{
        display: none;
    }
}